:root {
  --accent: #FBD784;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
  scroll-behavior: smooth;
}
html, body {
  height: 100vh;
  margin: 0;
}
body {
  background: #0B1D26;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Be Vietnam Pro', sans-serif;
}
#app {
  width: 100%;
  min-width: 800px;
  height: 100%;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.hero img, .guides img {
  width: 100%;
  object-fit: cover;
}




header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 10000;
}
.header_content {
  width: 91.67%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-family: initial;
  font-weight: 700;
}
header nav {
  width: max(13rem, 16%); /* Thanks Kevin Powell for min, max and clamp, it has helped me improve by over 1% in my web design */
  display: flex;
  justify-content: space-between;
  font-size: clamp(.7rem, .9vw, 2rem);
}
.account {
  display: flex;
  align-items: center;
}
.account_icon img {
  width: clamp(.7rem + 6px, 1vw, 2rem);
}
.account_text {
  margin-top: -4%;
  margin-left: 8%;
  font-size: clamp(.7rem, .9vw, 2rem);
}




.social-media {
  width: min(11%, 7.7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 4.165%;
  transform-origin: bottom left;
  transform: rotateZ(90deg);
  z-index: 10000;
}
.social-media_text {
  margin-top: -4%;
  font-size: clamp(.7rem, .9vw, 2rem);
  font-weight: 500;
}
.social-media_icon img {
  transform: rotateZ(-90deg);
  width: clamp(.7rem + 6px, 1vw, 2rem);
}




.page-nav {
  width: 3.9em;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 30%;
  right: 4.165%;
  font-size: clamp(.7rem, .9vw, 2rem);
  z-index: 10000;
}
.page-nav a {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.page-nav .page-nav_link {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.page-nav .page-nav_slide {
  width: 3px;
  height: 100%;
  background: #fff8;
}
.page-nav .active .page-nav_slide {
  background: #fff;
  border-radius: 3em;
}
.page-nav :not(.active):hover .page-nav_slide {
  background: #fffc;
}




.hero {
  height: 165%;
  position: relative;
  overflow: hidden;
}
.bg-layer-1, .bg-layer-2, 
.bg-layer-3, .bg-layer-4 {
  position: absolute;
  width: 100%;
}
.bg-layer-1 {
  height: 121%;
}
.bg-layer-2 {
  height: 100%;
  background: linear-gradient(145deg, #0B1D26bb, #0B1D2600);
}
.bg-layer-3 {
  height: 118.5%;
  top: 27%;
}
.bg-layer-4 {
  height: 77.17%;
  top: 45%;
}
.hero_description {
  position: absolute;
  inset: 15.5% 25% 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero_description h1 {
  font-family: initial;
  font-size: 4em;
  text-transform: capitalize;
}
.hero_post-text {
  display: flex;
}
.scroll-text {
  font-size: .7rem;
  font-weight: 600;
  margin-right: 1em;
}
.scroll-icon {
  width: .8em;
  margin-top: -.2em;
}




.main-content {
  margin-top: -14.1%;
}
.guide {
  width: 100%;
  height: 524px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.guide ~ .guide {
  margin-top: 7em;
}
.guide:nth-of-type(2n) .guide_description {
  order: 2;
}
.guide_image {
  order: 1;
}
.guide_description {
  width: 53.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6em 0 6em 6em;
  z-index: 1;
  position: relative;
  border: 1px solid red;
}
.guide_number {
  position: absolute;
  top: 3.5%;
  left: 0;
  font-size: 10em;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #fff2;
  z-index: -1;
}
.hero_pre-text {
  color: var(--accent);
  text-transform: uppercase;
  font-size: .77em;
  font-weight: 600;
  letter-spacing: .37em;
}
.hero_pre-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4em;
  height: 1px;
  background: var(--accent);
  margin-right: 1.4em;
}
.guide_description h1 {
  font-family: initial;
  font-size: 3em;
  font-weight: 500;
}
.guide_text {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.9em;
}
.more {
  display: flex;
}
.more_text {
  font-size: .7rem;
  margin-right: 1em;
  color: var(--accent);
}
.more_icon {
  width: .9em;
  margin-top: -.2em;
}
.guide_image {
  width: 38.71%;
  border: 1px solid red;
}
.guide_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}








.container {
  width: 76.15%;
  margin: 0 auto;
}